@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    outline: none;
}
html{
    height: 100%;
    color: #FF0000;
}
body{
    width: 100%;
    height: 100%;
}
.bodyOutput{
    height: auto;
    width: auto;
    border: solid 2px black;
    text-align: center;
    margin: 2px;
    padding: 2px;
    float: left;
}
.status{
    margin: 2px;
}
#mainSocket{
    height: auto;
    width: 400px;
    border: solid 2px black;
    text-align: center;
    margin: 2px;
    padding: 2px;
    float: left;
}
#main img{
    position: absolute;
}
#main svg{
    position: relative;
}
#main polygon{
    fill: blue;
    stroke: purple;
    stroke-width: 1;
}
/*#firstDepartment{*/
     /*display: block;*/
     /*opacity: 0.1;*/
 /*}*/
/*#firstDepartment:hover{*/
    /*opacity: 0.5;*/
/*}*/
/*#kotelnya{*/
    /*display: block;*/
    /*opacity: 0.1;*/
/*}*/
/*#kotelnya:hover{*/
    /*opacity: 0.5;*/
/*}*/
/*#vodopodgotovka{*/
    /*display: block;*/
    /*opacity: 0.1;*/
/*}*/
/*#vodopodgotovka:hover{*/
    /*opacity: 0.5;*/
/*}*/
/*#tp{*/
    /*display: block;*/
    /*opacity: 0.1;*/
/*}*/
/*#tp:hover{*/
    /*opacity: 0.5;*/
/*}*/
/*#skladmain{*/
    /*display: block;*/
    /*opacity: 0.1;*/
/*}*/
/*#skladmain:hover{*/
    /*opacity: 0.5;*/
/*}*/
/*#sklad{*/
    /*display: block;*/
    /*opacity: 0.1;*/
/*}*/
/*#sklad:hover{*/
    /*opacity: 0.5;*/
/*}*/
/*#office2{*/
    /*display: block;*/
    /*opacity: 0.1;*/
/*}*/
/*#office2:hover{*/
    /*opacity: 0.5;*/
/*}*/
/*#thirdceh{*/
    /*display: block;*/
    /*opacity: 0.1;*/
/*}*/
/*#thirdceh:hover{*/
    /*opacity: 0.5;*/
/*}*/
.item{
    display: block;
    opacity: 0.1;
}
.item:hover{
    opacity: 0.5;
}